*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

:root{
    --title: #e43572;
    --bg-box: #0f0e17;
    --text: white;
    --link: #0093e7;
    --link2: purple;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.center{
    text-align: center;
}

h1{
    color: var(--title);
    padding: 3rem 0rem;
}

.box{
    width: calc(90% / 3);
    background-color: var(--bg-box);
    color: var(--text);
    margin-top: 3rem; 
    margin: 20px;
}

img{
    width: 90px;
    height: 90px;
}

.left{
    float: left;
}

a{
    color: var(--link);
}

.padding{
    padding: 1rem 4rem 0rem 1rem;
}

.widht{
    width: 1180px;
}

a:hover{
    color: var(--link2);
}


